
body { background: black !important;}

.chat-box{
  height: 500px;
}

.big-box {
  height: 650px;
}

input[type="text"] {
    box-sizing: border-box;
}

.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}
.navbar-brand {float:none;}

.chatters {
  height: 100%;
  border: 5px solid black;

}

.input-box {
  height: 100px;
  border-top: 5px solid black;

}

.inoutbox {
  height: 100%;
  border-bottom: 5px solid black;
  border-top: 5px solid black;
  border-right: 5px solid black;

}

.parent {position: relative;}

.child {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 30%;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.chatting{
  margin: 10px;
  height: 96%;
  background-color: white;
}
.names{
  margin-top: 10px;
  margin-bottom: 10px;
}

ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
